.sidebar {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 140, 255);
    overflow-x: hidden;
    padding-top: 20px;
}

#title{
    margin-left: 40px;
    background-color: none;
    font-weight:500;
    letter-spacing: 2px;
}

#sidebutton1{
    width: 100%;
    border: 0;
    text-align: left;
    font-size: large;
    margin-top: 10px;
    
}

#sidebutton {
    height: 20px;
    width: 20px;
    margin: 0px 11px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 140, 255);
}

#offcanvasWithBothOptions{
    width: 300px;
}
.menuimage {
    width: 20px;
    color: white;
}

.subheading{
    margin-top: 40px;
    margin-left: 110px;
    text-shadow: 0px 2px 2px rgb(206, 206, 206);
    background-color: none;
    letter-spacing: 3px;
}

.rect{
    width: 40px;
    height: 8px;
    background-color: blue;
    margin-top: 10px;
    border-radius: 10px;

}

#locationback {

    /* background-color: beige; */
    margin-left: 100px;
    margin-right: 30px;
    height: 420px;
    border-radius: 18px;
    width: auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: blue; */
    
}

#lcard {
    border-radius: 12px;
    border: none;
    height: 110px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(197, 196, 196);
}

.ltext{
    text-shadow: 0px 2px 2px rgb(206, 206, 206);
    letter-spacing: 2px;
}
    
.img{
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

#lcard1 {
    margin-top: 20px;
    border-radius: 12px;
    border: none;
    height: 110px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(197, 196, 196);
}

.img1{
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.cbody{
    text-align: left;
    padding-right: 10px;
}
.cbody1{
    text-align: left;
    padding-right: 0px;
    
}

.more {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 1px;
    background-color: none;
}

#addbtn{
    margin: 3px;
    padding: 4px;
    font-weight: 650;
    font-size: medium;
}